/** COLORS
Background Light: #eff1f5
Background Dark: #1e1e2e
Light Header Banner: #e6e9ef
Dark Header Banner: #11111b
Light Header Text: #4c4f69
Dark Header Text: #cdd6f4 **/

body {
    background-color: #eff1f5;
}

@font-face {
    font-family: 'JustSans';
    src: url('https://files.catbox.moe/zkr5ln.woff2') format('woff2');
}

.header {
    background-color: #e6e9ef;
    padding: 30px;
    text-align: center;
    color: #4c4f69;
    border-color:#dce0e8;
    border-bottom-width: 0.05cm;
}

